
/* Styling of dropdown filters - black borders, different font and bolded text */
.dropdown--style .Select-placeholder, .Select--single > .Select-control .Select-value {
    color: black;

}

.dropdown--style .Select-control {
    border: 1px solid black;
}

.dropdown--style {
    font-size: 14px;
    font-family: AtlasGrotesk,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:bold;
}

/* Styling of text above dropdowns */
Label {
    color: grey;
    font-size: 12px;
    padding:3px;
}

/* Styling of table and incorporating frozen most left column of table */
#output-data-upload {
    width:85%;
    padding-top:7px;
    overflow-x:auto;
    margin: auto;
    font-family: AtlasGrotesk,"Helvetica Neue", Helvetica, Arial, sans-serif;

}

.dash-spreadsheet .row {
  flex-wrap: nowrap;
}

.dash-spreadsheet.dash-freeze-left {
    max-width: none !important;
}

.dash-table-container .row {
  margin: 0;
}


/* Styling row_1 dropdowns/filters */
#row_1 {
    width:70%;
    margin-left:7.5%;
    padding-bottom:5px;
}

/* Styling row_2 dropdowns/filters */

#row_2 {
    width:85%;
    margin-left:7.5%;

}


/* Styling of table title */
#table_title {
    margin-left:7.5%;
    padding-top:2px;
}

/* Styling of line between table dropdowns and table */
#line {
    border-bottom: 2px solid grey;
    padding-top:15px;
    width:85%;
    margin-left: 7.5%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {

       tbody>tr>:nth-child(1){
             width:15px;
            }

       #row_3 {
          width: 80%;
       }

       h4 {
          font-size: 20px;
       }
}